---
import { SITE } from 'astrowind:config';
---

<span
  class="inline-flex items-center h-8 md:h-10 leading-none ml-2 rtl:ml-0 rtl:mr-2 text-lg md:text-base font-semibold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
