---
import Layout from '~/layouts/Layout.astro';
import Footer from '~/components/widgets/Footer.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- announcement widget removed -->
  <slot name="header">
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer links={[]} secondaryLinks={[]} socialLinks={[]} />
  </slot>
</Layout>
